body.dark {
  --primary-color: #161b22;
  --font-color: #f0f6fc;
  --container-color: #0d1117;
}

body.light {
  --primary-color: #0e1116;
  --font-color: #f0f6fc;
  --container-color: #ffff;
}

body {
  margin: 0px;
}
